apiVersion: v2
name: agent-control-deployment
description: A Helm chart to install New Relic Agent Control on Kubernetes

type: application

version: 0.0.50
appVersion: "0.39.0"

dependencies:
  - name: common-library
    version: 1.3.1
    repository: https://helm-charts.newrelic.com

keywords:
  - newrelic
  - agent-control

maintainers:
  # Agent Control Team
  - name: ac
    url: https://github.com/orgs/newrelic/teams/ac/members
