apiVersion: v1
appVersion: "1.0"
description: A Helm chart to deploy New Relic integrations bundled together
name: nri-bundle
version: 0.1.2
home: https://github.com/newrelic/helm-charts
maintainers:
  - name: douglascamata
  - name: jorik
