apiVersion: v1
appVersion: "1.0"
description: A Helm chart to deploy New Relic integrations bundled together
name: nri-bundle
version: 1.10.1
home: https://github.com/newrelic/helm-charts
icon: https://newrelic.com/assets/newrelic/source/NewRelic-logo-square.svg
maintainers:
  - name: douglascamata
  - name: jorik
