dependencies:
  - name: newrelic-infrastructure
repository: file://../newrelic-infrastructure
condition: infrastructure.enabled
version: 2.6.2

  - name: nri-prometheus
repository: file://../nri-prometheus
condition: prometheus.enabled
version: 1.8.2

  - name: nri-metadata-injection
repository: file://../nri-metadata-injection
condition: webhook.enabled
version: 1.5.2

  - name: kube-state-metrics
repository: https://kubernetes.github.io/kube-state-metrics
condition: ksm.enabled
version: 2.13.2

  - name: nri-kube-events
repository: file://../nri-kube-events
condition: kubeEvents.enabled
version: 1.9.5

  - name: newrelic-logging
repository: file://../newrelic-logging
condition: logging.enabled
version: 1.6.0

  - name: newrelic-pixie
repository: file://../newrelic-pixie
condition: newrelic-pixie.enabled
version: 1.1.1

  - name: pixie-operator-helm2-chart
alias: pixie-chart
repository: https://pixie-operator-charts.storage.googleapis.com
condition: pixie-chart.enabled
version: 0.0.5

  - name: newrelic-infra-operator
repository: file://../newrelic-infra-operator
condition: newrelic-infra-operator.enabled
version: 0.1.1
