dependencies:
  - name: newrelic-infrastructure
repository: file://../newrelic-infrastructure
condition: infrastructure.enabled
version: 2.1.0

  - name: nri-prometheus
repository: file://../nri-prometheus
condition: prometheus.enabled
version: 1.6.2

  - name: nri-metadata-injection
repository: file://../nri-metadata-injection
condition: webhook.enabled
version: 1.3.4

  - name: kube-state-metrics
repository: https://charts.helm.sh/stable
condition: ksm.enabled
version: 2.9.1

  - name: nri-kube-events
repository: file://../nri-kube-events
condition: kubeEvents.enabled
version: 1.6.1

  - name: newrelic-logging
repository: file://../newrelic-logging
condition: logging.enabled
version: 1.4.6

