# Global owners
* @paologallinaharbur @ardias @dbrota @gsanchezgavier

# NOTE: Github still doesn't support nested code owners.
# Owners for charts go below this line using the following format:
# charts/<CHART_NAME>/* @<GITHUB_USER>

# Simple nginx chart for testing purposes
/charts/simple-nginx/ @douglascamata

# Logging chart
/charts/newrelic-logging/ @jsubirat @matildasmeds @tejunior

# Kubernetes Integration chart
/charts/newrelic-infrastructure/ @paologallinaharbur @ardias @dbrota @gsanchezgavier

# Metadata injection chart
/charts/nri-metadata-injection/ @paologallinaharbur @ardias @dbrota @gsanchezgavier

# Kube events charts
/charts/nri-kube-events/ @paologallinaharbur @ardias @dbrota @gsanchezgavier

# Prometheus OpenMetrics Integration chart
/charts/nri-prometheus/ @paologallinaharbur @ardias @dbrota @gsanchezgavier

# nri-bundle
/charts/nri-bundle/ @paologallinaharbur @ardias @dbrota @gsanchezgavier

# synthetics-minion
/charts/synthetics-minion/ @newrelic/proactive-monitoring
