# Global owners
* @newrelic/k8s011y

# Owners for charts go below this line using the following format:
# charts/<CHART_NAME>/* @<GITHUB_USER>

# Logging chart
/charts/newrelic-logging/ @newrelic/logging 

# synthetics-minion
/charts/synthetics-minion/ @newrelic/proactive-monitoring

# synthetics-job-manager
/charts/synthetics-job-manager/ @newrelic/proactive-monitoring

/charts/nri-statsd/ @newrelic/caos
