# IMPORTANT: The Kubernetes cluster name
# https://docs.newrelic.com/docs/kubernetes-monitoring-integration
#
# licenseKey:
# cluster:
# fargate:
# IMPORTANT: the previous values can also be set as global so that they
# can be shared by other newrelic product's charts.
#
# global:
#   licenseKey:
#   cluster:
#   fargate

personalAPIKey:
cluster:


verboseLog: false

config:
  accountID:
  externalMetrics:
  # By default a cluster filter is added to the query to ensure no cross cluster metrics are taking into account.
  # When metrics coming outside the cluster or without the 'clusterName' attribute are needed, removeClusterFilter
  # should be set to true. Default value for this parameter is false.
  # test1:
  #   query: "SELECT latest(cpuUsedCores) from K8sContainerSample "
  #   removeClusterFilter: false
  #
  # If not set, it will be automatically derived from global.licenseKey.
  # For US-based accounts, the region is: `US`.
  # For EU-based accounts, the region is: `EU`.
  # For Staging accounts, the region is: 'Staging' this is also automatically derived form `global.nrStaging`
  region:

image:
  repository: newrelic/newrelic-k8s-metrics-adapter
  tag: ""  # Defaults to AppVersion
  pullPolicy: IfNotPresent
  # It is possible to specify docker registry credentials.
  # See https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
  # pullSecrets:
  # - name: regsecret

replicas: 1

resources:
  limits:
    memory: 80M
  requests:
    cpu: 100m
    memory: 30M

serviceAccount:
  # Specifies whether a ServiceAccount should be created for the job and the deployment.
  create: true
  # The name of the ServiceAccount to use.
  # If not set and create is true, a name is generated using the fullname template.
  name:

# Configure podSecurityContext
podSecurityContext:
  enabled: false
  fsGroup: 1001
  runAsUser: 1001
  runAsGroup: 1001

# If you wish to provide additional annotations to apply to the pod(s), specify them here.
# podAnnotations:

# Pod scheduling priority
# Ref: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/
# priorityClassName: high-priority

fullnameOverride: ""
affinity: {}
tolerations: []

apiServicePatchJob:
  image:
    repository: k8s.gcr.io/ingress-nginx/kube-webhook-certgen
    tag: v1.1.1
    pullPolicy: IfNotPresent
#   Volume mounts to add to the job, you might want to mount tmp if Pod Security Policies.
#   Enforce a read-only root.
  volumeMounts: []
#  - name: tmp
#    mountPath: /tmp
#
#   Volumes to add to the job container.
  volumes: []
#  - name: tmp
#    emptyDir: {}

# Use cert manager for APIService certs, rather than the built-in patch job.
certManager:
  enabled: false
