apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "nrKubernetesOtel.deployment.configMap.fullname" . }}
  namespace: {{ .Release.Namespace }}
data:
  gateway-config.yaml: |
    reserved_melt_attributes:
      Metric:
        - interval.ms
        - metricName
  deployment-config.yaml: |
    {{- with include "nrKubernetesOtel.deployment.configMap.config" . }}
    {{- . | nindent 4 }}
    {{- end }}
    {{- if not (include "nrKubernetesOtel.deployment.configMap.config" .) }}
    {{- if .Values.generated }}
    {{- tpl (.Values.generated | toYaml) . | nindent 4 }}
    {{- else }}
    # No configuration provided - please provide configuration via Values.generated
    {{- end }}
    {{- end }}
