apiVersion: v2
name: agent-control
description: Bootstraps New Relic' Agent Control

type: application
version: 0.0.33-beta

dependencies:
  - name: flux2
    repository: https://fluxcd-community.github.io/helm-charts
    version: 2.13.0
    condition: flux2.enabled
  - name: agent-control-deployment
    version: 0.0.33-beta
    condition: agent-control-deployment.enabled
    # The following dependency is needed as sub-dependency of agent-control-deployment
  - name: common-library
    version: 1.3.0
    repository: https://helm-charts.newrelic.com

keywords:
  - newrelic
  - agent-control

maintainers:
  - name: alvarocabanas
    url: https://github.com/alvarocabanas
  - name: DavSanchez
    url: https://github.com/DavSanchez
  - name: gsanchezgavier
    url: https://github.com/gsanchezgavier
  - name: paologallinaharbur
    url: https://github.com/paologallinaharbur
  - name: rubenruizdegauna
    url: https://github.com/rubenruizdegauna
  - name: sigilioso
    url: https://github.com/sigilioso
