apiVersion: v2
name: agent-control
description: Bootstraps New Relic' Agent Control

type: application
version: 0.0.66

dependencies:
  - name: flux2
    repository: https://fluxcd-community.github.io/helm-charts
    version: 2.15.0
    condition: flux2.enabled
  - name: agent-control-deployment
    repository: https://helm-charts.newrelic.com
    version: 0.0.50
    condition: agent-control-deployment.enabled
    # The following dependency is needed as sub-dependency of agent-control-deployment
  - name: common-library
    version: 1.3.1
    repository: https://helm-charts.newrelic.com

keywords:
  - newrelic
  - agent-control

maintainers:
  # Agent Control Team
  - name: ac
    url: https://github.com/orgs/newrelic/teams/ac/members
