apiVersion: v2
name: agent-control
description: Bootstraps New Relic' Agent Control

type: application
version: 0.0.69
# This is the agent-control-deployment chart version.
appVersion: 0.0.52

dependencies:
  - name: flux2
    repository: https://fluxcd-community.github.io/helm-charts
    version: 2.15.0
    condition: flux2.enabled
  - name: common-library
    version: 1.3.1
    repository: https://helm-charts.newrelic.com

keywords:
  - newrelic
  - agent-control

maintainers:
  # Agent Control Team
  - name: ac
    url: https://github.com/orgs/newrelic/teams/ac/members
