apiVersion: v2
name: agent-control
description: Bootstraps New Relic' Agent Control

type: application
version: 0.0.92
# agent-control-deployment chart default version.
appVersion: 0.0.74
annotations:
  # agent-control-cd chart default version.
  agentControlCdVersion: 0.0.2


dependencies:
  - name: common-library
    version: 1.3.3
    repository: https://helm-charts.newrelic.com

keywords:
  - newrelic
  - agent-control

maintainers:
  # Agent Control Team
  - name: ac
    url: https://github.com/orgs/newrelic/teams/ac/members
