apiVersion: v2
name: agent-control
description: Bootstraps New Relic' Agent Control

type: application
version: 0.0.77
# This is the agent-control-deployment chart version.
appVersion: 0.0.63

dependencies:
  - name: common-library
version: 1.3.3
repository: https://helm-charts.newrelic.com

keywords:
  - newrelic
  - agent-control

maintainers:
  # Agent Control Team
  - name: ac
url: https://github.com/orgs/newrelic/teams/ac/members
