{{- if (include "newrelic-pixie.areValuesValid" .) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "newrelic-pixie.fullname" . }}
  namespace: {{ template "newrelic-pixie.namespace" . }}
  labels:
    {{- include "newrelic-pixie.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ template "newrelic-pixie.name" . }}
      release: {{.Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ template "newrelic-pixie.name" . }}
        release: {{.Release.Name }}
    spec:
      containers:
      - name: {{ template "newrelic-pixie.name" . }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        env:
        - name: CLUSTER_NAME
          value: {{ template "newrelic-pixie.cluster" . }}
        - name: NR_LICENSE_KEY
          valueFrom:
            secretKeyRef:
              {{- if (include "newrelic-pixie.licenseKey" .) }}
              name: {{ template "newrelic-pixie.fullname" . }}-secrets
              key: newrelicLicenseKey
              {{- else }}
              name: {{ include "newrelic-pixie.customSecretName" . }}
              key: {{ include "newrelic-pixie.customSecretLicenseKey" . }}
              {{- end }}
        - name: PIXIE_API_KEY
          valueFrom:
            secretKeyRef:
              {{- if (include "newrelic-pixie.apiKey" .) }}
              name: {{ template "newrelic-pixie.fullname" . }}-secrets
              key: pixieApiKey
              {{- else }}
              name: {{ include "newrelic-pixie.customSecretApiKeyName" . }}
              key: {{ include "newrelic-pixie.customSecretApiKeyKey" . }}
          {{- end }}
        - name: PIXIE_CLUSTER_ID
          {{- if .Values.pixieClusterId }}
          value: {{ .Values.pixieClusterId -}}
          {{- else }}
          valueFrom:
            secretKeyRef:
              key: cluster-id
              name: pl-cluster-secrets
          {{- end }}
        {{- if .Values.verbose }}
        - name: VERBOSE
          value: "true"
        {{- end }}
        {{- if (include "newrelic-pixie.nrStaging" .) }}
        - name: NR_OTLP_HOST
          value: "staging.otlp.nr-data.net:4317"
        {{- end }}
        {{- if .Values.resources }}
        resources:
{{ toYaml .Values.resources | indent 10 }}
        {{- end }}
{{- end }}
