kind: ConfigMap
metadata:
  name: {{ template "nri-prometheus.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "nri-prometheus.labels" . | indent 4 }}
apiVersion: v1
data:
  config.yaml: |
    cluster_name: {{ include "nri-prometheus.cluster" . }}

  {{- $config := .Values.config -}}
  {{- $lowDataDefault := .Files.Get "static/lowdatamodedefaults.yaml" | fromYaml -}}

  {{- if (include "nri-prometheus.lowDataMode" .) }}
    {{- mergeOverwrite .Values.config $lowDataDefault | toYaml | nindent 4 }}
  {{- else }}
    {{- toYaml .Values.config | trim | nindent 4 }}
  {{- end }}
