{{- if and (include "newrelic-logging.areValuesValid" .) .Values.enableLinux }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "newrelic.common.labels" . | nindent 4 }}
  name: {{ template "newrelic-logging.fullname" . }}
  annotations:
  {{- if .Values.daemonSet.annotations }}
{{ toYaml .Values.daemonSet.annotations | indent 4 }}
  {{- end }}
spec:
  updateStrategy:
    type: {{ .Values.updateStrategy }}
  selector:
    matchLabels:
      {{- include "newrelic.common.labels.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/fluent-bit-config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    {{- if .Values.podAnnotations }}
{{ toYaml .Values.podAnnotations | indent 8}}
    {{- end }}
      labels:
        kubernetes.io/os: linux
        {{- include "newrelic.common.labels.podLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "newrelic.common.serviceAccount.name" . }}
      {{- with include "newrelic.common.dnsConfig" . }}
      dnsConfig:
        {{- . | nindent 8 }}
      {{- end }}
      dnsPolicy: ClusterFirstWithHostNet
      terminationGracePeriodSeconds: 10
      {{- with include "newrelic.common.images.renderPullSecrets" ( dict "pullSecrets" (list .Values.image.pullSecrets) "context" .) }}
      imagePullSecrets:
        {{- . | nindent 8 }}
      {{- end }}
      {{- with include "newrelic.common.securityContext.pod" . }}
      securityContext:
        {{- . | nindent 8 }}
      {{- end }}
      {{- $hostNetwork := false }}
      {{- if not (kindIs "invalid" .Values.hostNetwork) }}
        {{- $hostNetwork = .Values.hostNetwork }}
      {{- else if .Values.global }}
        {{- if not (kindIs "invalid" .Values.global.hostNetwork) }}
          {{- $hostNetwork = .Values.global.hostNetwork }}
        {{- end }}
      {{- end }}
      {{- if $hostNetwork }}
      hostNetwork: {{ $hostNetwork }}
      {{- end }}
      initContainers:
      {{- if and (.Values.fluentBit.persistence) (eq .Values.fluentBit.persistence.mode "persistentVolume") }}
        - name: init
          image: busybox:1.36
          command: ["/bin/sh", "-c"]
          args: ["/bin/find /db -type f -mtime +1 -delete"] # Delete all db files not updated in the last 24h
          volumeMounts:
            - name: fb-db-pvc
              mountPath: /db
      {{- end }}
      {{- if .Values.initContainers }}
{{ toYaml .Values.initContainers | indent 8 }}
      {{- end }}
      containers:
        - name: {{ template "newrelic-logging.name" . }}
          {{- with include "newrelic.common.securityContext.container" . }}
          securityContext:
            {{- . | nindent 12 }}
          {{- end }}
          image: {{ include "newrelic.common.images.image" ( dict "imageRoot" .Values.image "context" .) }}
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          env:
            - name: ENDPOINT
              value: {{ include "newrelic-logging.logsEndpoint" . | quote }}
            - name: SOURCE
              value: {{ if (include "newrelic-logging.lowDataMode" .) }} "k8s" {{- else }} "kubernetes" {{- end }}
            - name: LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  {{- if (include "newrelic-logging.licenseKey" .) }}
                  name: {{ template "newrelic-logging.fullname" . }}-config
                  key: license
                  {{- else }}
                  name: {{ include "newrelic-logging.customSecretName" . }}
                  key: {{ include "newrelic-logging.customSecretKey" . }}
                  {{- end }}
            - name: CLUSTER_NAME
              value: {{ include "newrelic-logging.cluster" . }}
            {{- $verboseLog := include "newrelic.common.verboseLog" . -}}
            {{- $logLevel := .Values.fluentBit.logLevel | default "" -}}
            {{- if $logLevel }}
            - name: LOG_LEVEL
              value: {{ $logLevel | quote }}
            {{- else if eq $verboseLog "true" }}
            - name: LOG_LEVEL
              value: "debug"
            {{- else }}
            - name: LOG_LEVEL
              value: "info"
            {{- end }}
            - name: LOG_PARSER
              {{- if .Values.fluentBit.criEnabled }}
              value: "cri,docker"
              {{- else }}
              value: "docker,cri"
              {{- end }}
            # NODE_NAME needs to be defined before FB_DB, because FB_DB references NODE_NAME in its value when using persistentVolume
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            {{- if or (not .Values.fluentBit.persistence) (eq .Values.fluentBit.persistence.mode "hostPath") }}
            - name: FB_DB
              value: {{ .Values.fluentBit.db | quote }}
            {{- else if eq .Values.fluentBit.persistence.mode "persistentVolume" }}
            - name: FB_DB
              value: "/db/$(NODE_NAME)-fb.db"
            {{- else }}
            - name: FB_DB
              value: ""
            {{- end }}
            - name: PATH
              value: {{ .Values.fluentBit.path | quote }}
            - name: K8S_BUFFER_SIZE
              value: {{ .Values.fluentBit.k8sBufferSize | quote }}
            - name: K8S_LOGGING_EXCLUDE
              value: {{ .Values.fluentBit.k8sLoggingExclude | default "false" | quote }}
            - name: LOW_DATA_MODE
              value: {{ include "newrelic-logging.lowDataMode" . | default "false" | quote }}
            - name: RETRY_LIMIT
              value: {{ .Values.fluentBit.retryLimit | quote }}
            - name: HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: SEND_OUTPUT_PLUGIN_METRICS
              value: {{ $.Values.fluentBit.sendMetrics | default "false" | quote }}
            - name: METRICS_HOST
              value: {{ include "newrelic-logging.metricsHost" . | quote }}
            {{- $globalProxy := "" }}
            {{- if .Values.global }}
              {{- $globalProxy = .Values.global.proxy | default "" }}
            {{- end }}
            {{- $proxy := .Values.proxy | default $globalProxy | default "" }}
            {{- if $proxy }}
            - name: HTTP_PROXY
              value: {{ $proxy | quote }}
            - name: HTTPS_PROXY
              value: {{ $proxy | quote }}
            {{- end }}
            {{- include "newrelic-logging.extraEnv" . | nindent 12 }}
            - name: FLUENTBIT_METRICS_TIER 
              value: {{ $.Values.fluentBit.fluentBitMetrics | default "basic" | quote }}
            - name: DAEMONSET_NAME
              value: {{ template "newrelic-logging.fullname" . }}  
            - name: NAMESPACE
              value: {{ .Release.Namespace }} 
          command:
            - /fluent-bit/bin/fluent-bit
            - -c
            - /fluent-bit/etc/fluent-bit.conf
            - -e
            - /fluent-bit/bin/out_newrelic.so
          volumeMounts:
            - name: fluent-bit-config
              mountPath: /fluent-bit/etc
            - name: logs
              # We mount /var by default because container logs could be on /var/log or /var/lib/docker/containers (symlinked to /var/log)
              mountPath: {{ .Values.fluentBit.linuxMountPath | default "/var" }}
              {{- if and (.Values.fluentBit.persistence) (ne .Values.fluentBit.persistence.mode "hostPath") }}
              readOnly: true
              {{- end }}
            {{- if and (.Values.fluentBit.persistence) (eq .Values.fluentBit.persistence.mode "persistentVolume") }}
            - name: fb-db-pvc
              mountPath: /db
            {{- end }}
          {{- if .Values.extraVolumeMounts }}
              {{- toYaml .Values.extraVolumeMounts | nindent 12 }}
          {{- end }}
          {{- if .Values.exposedPorts }}
          ports: {{ toYaml .Values.exposedPorts | nindent 12 }}
          {{- end }}
          {{- if .Values.resources }}
            {{- if eq $.Values.fluentBit.fluentBitMetrics "basic" }}

            - name: lua-scripts
              mountPath: /fluent-bit/scripts
              readOnly: true
            {{- end }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
          {{- end }}
{{- if and $.Values.livenessProbe $.Values.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: /api/v1/health
              port: 2020
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{  .Values.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
            failureThreshold: {{  .Values.livenessProbe.failureThreshold }}
{{- end }}
      volumes:
          {{- if eq $.Values.fluentBit.fluentBitMetrics "basic" }}
        - name: lua-scripts
          configMap:
            name: {{ include "newrelic-logging.fullname" . }}-lua
          {{- end }}
        - name: fluent-bit-config
          configMap:
            name: {{ template "newrelic-logging.fluentBitConfig" . }}
        - name: logs
          hostPath:
            path: {{ .Values.fluentBit.linuxMountPath | default "/var" }}
        {{- if and (.Values.fluentBit.persistence) (eq .Values.fluentBit.persistence.mode "persistentVolume") }}
        - name: fb-db-pvc
          persistentVolumeClaim:
            {{- if .Values.fluentBit.persistence.persistentVolume.existingVolumeClaim }}
            claimName: {{ .Values.fluentBit.persistence.persistentVolume.existingVolumeClaim }}
            {{- else }}
            claimName: {{ template "newrelic-logging.fullname" . }}-pvc
            {{- end }}
        {{- end }}
      {{- if .Values.extraVolumes }}
        {{- toYaml .Values.extraVolumes | nindent 8 }}
      {{- end }}
      {{- with include "newrelic.common.priorityClassName" . }}
      priorityClassName: {{ . }}
      {{- end }}
      {{- $affinity := include "newrelic.common.affinity" . }}
      {{- if or .Values.nodeAffinity $affinity (include "newrelic.fargate" .) }}
      affinity:
        {{- if .Values.nodeAffinity }}
        nodeAffinity: {{ .Values.nodeAffinity | toYaml | nindent 10 }}
        {{- else if $affinity }}
        {{- $affinity | nindent 8 }}
        {{- else if include "newrelic.fargate" . }}
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: eks.amazonaws.com/compute-type
                    operator: NotIn
                    values:
                      - fargate
        {{- end }}
      {{- end }}
      {{- $nodeSelector := include "newrelic.common.nodeSelector" . }}
      {{- if or $nodeSelector $.Values.enableWindows }}
      nodeSelector:
        {{- if $nodeSelector }}
        {{- $nodeSelector | nindent 8 }}
        {{- end }}
        {{- if $.Values.enableWindows }}
        # We add this only if Windows is enabled to keep backwards-compatibility. Prior to version 1.14, this label was
        # named beta.kubernetes.io/os. In version 1.14, it was deprecated and replaced by this one. Version 1.14 also
        # introduces Windows support. Therefore, anyone wishing to use Windows containers must bet at version >=1.14 and
        # are going to need this label, in order to avoid placing a linux container on a windows node, and vice-versa.
        kubernetes.io/os: linux
        {{- end }}
      {{- end }}
      {{- with include "newrelic.common.tolerations" . }}
      tolerations:
        {{- . | nindent 8 }}
      {{- end }}
{{- end }}
