apiVersion: v2
name: super-agent
description: Bootstraps New Relic' Super Agent

type: application
version: 0.0.27-beta

dependencies:
  - name: flux2
repository: https://fluxcd-community.github.io/helm-charts
version: 2.13.0
condition: flux2.enabled
  - name: super-agent-deployment
version: 0.0.29-beta
condition: super-agent-deployment.enabled
# The following dependency is needed as sub-dependency of super-agent-deployment
  - name: common-library
version: 1.3.0
repository: https://helm-charts.newrelic.com

keywords:
  - newrelic
  - super-agent

maintainers:
  - name: alvarocabanas
url: https://github.com/alvarocabanas
  - name: DavSanchez
url: https://github.com/DavSanchez
  - name: gsanchezgavier
url: https://github.com/gsanchezgavier
  - name: paologallinaharbur
url: https://github.com/paologallinaharbur
  - name: rubenruizdegauna
url: https://github.com/rubenruizdegauna
  - name: sigilioso
url: https://github.com/sigilioso
