# -- Override the name of the chart
nameOverride: ""
# -- Override the full name of the release
fullnameOverride: ""

# -- Values related to the super agent's Helm chart release.
# @default -- See `values.yaml`
super-agent-deployment:
  # -- Enable the installation of the Super Agent. This an advanced/debug flag. It should be always be true unless
  # you know what you are going.
  enabled: true

  # -- TODO: Name of the Kubernetes cluster monitored. Can be configured also with `global.cluster`.
  cluster: ""
  # -- TODO: This set this license key to use. Can be configured also with `global.licenseKey`
  licenseKey: ""
  # -- TODO: In case you don't want to have the license key in you values, this allows you to point to a user created secret to get the key from there. Can be configured also with `global.customSecretName`
  customSecretName: ""
  # -- TODO: In case you don't want to have the license key in you values, this allows you to point to which secret key is the license key located. Can be configured also with `global.customSecretLicenseKey`
  customSecretLicenseKey: ""

  # -- Image for the New Relic Super Agent
  # @default -- See `values.yaml`
  image:
registry:
repository: newrelic/newrelic-super-agent
tag: 0.21.0
imagePullPolicy: IfNotPresent
# -- The secrets that are needed to pull images from a custom registry.
pullSecrets: []
# - name: regsecret

  # -- Add user environment variables to the agent
  extraEnv: []
  # -- Add user environment from configMaps or secrets as variables to the agent
  extraEnvFrom: []
  # -- Volumes to mount in the containers
  extraVolumes: []
  # -- Defines where to mount volumes specified with `extraVolumes`
  extraVolumeMounts: []

  # -- Settings controlling ServiceAccount creation.
  # @default -- See `values.yaml`
  serviceAccount:
# -- Whether the chart should automatically create the ServiceAccount objects required to run.
create: true
annotations: {}
# If not set and create is true, a name is generated using the full name template
name: ""

  # -- Additional labels for chart objects. Can be configured also with `global.labels`
  labels: {}
  # -- Annotations to be added to all pods created by the integration.
  podAnnotations: {}
  # -- Additional labels for chart pods. Can be configured also with `global.podLabels`
  podLabels: {}

  # -- Resource limits to be added to all pods created by the integration.
  # @default -- `{}`
  resources: {}

  # -- Sets pod's priorityClassName. Can be configured also with `global.priorityClassName`
  priorityClassName: ""
  # -- (bool) Sets pod's hostNetwork. Can be configured also with `global.hostNetwork`
  # @default -- `false`
  hostNetwork:
  # -- Sets security context (at pod level). Can be configured also with `global.podSecurityContext`
  podSecurityContext: {}
  # -- Sets security context (at container level). Can be configured also with `global.containerSecurityContext`
  containerSecurityContext: {}

  # -- Sets pod's dnsConfig. Can be configured also with `global.dnsConfig`
  dnsConfig: {}

  # Settings controlling RBAC objects creation.
  rbac:
# -- Whether the chart should automatically create the RBAC objects required to run.
create: true

  # -- Sets pod/node affinities. Can be configured also with `global.affinity`
  affinity: {}
  # -- Sets pod's node selector. Can be configured also with `global.nodeSelector`
  nodeSelector: {}
  # -- Sets pod's tolerations to node taints. Can be configured also with `global.tolerations`
  tolerations: []

  # -- TODO: Adds extra attributes to the cluster and all the metrics emitted to the backend. Can be configured also with `global.customAttributes`
  customAttributes: {}

  # -- TODO: Configures the integration to send all HTTP/HTTPS request through the proxy in that URL. The URL should have a standard format like `https://user:password@hostname:port`. Can be configured also with `global.proxy`
  proxy: ""

  # -- (bool) Send the metrics to the staging backend. Requires a valid staging license key. Can be configured also with `global.nrStaging`
  # @default -- `false`
  nrStaging:

  # -- (bool) Changes default endpoint to point to EU backend.
  # @default -- `false`
  euEndpoints:

  fedramp:
# -- (bool) TODO: Enables FedRAMP. Can be configured also with `global.fedramp.enabled`
# @default -- `false`
enabled:

  # -- (bool) TODO: Sets the debug logs to this integration or all integrations if it is set globally. Can be configured also with `global.verboseLog`
  # @default -- `false`
  verboseLog:

  # -- Enable the cleanup of super-agent managed resources when the chart is uninstalled.
  # If disabled, agents and / or agent configurations managed by the super-agent will not be deleted when the chart is uninstalled.
  cleanupManagedResources: true

  config:
auth:
  enabled: false
  organizationId:
  userApiKey:
  secret:
create: true

# -- Configuration for the Super Agent.
# @default -- See `values.yaml`
superAgent:
  # -- Set if the configMap is going to be created by this chart or the user will provide its own.
  create: true
  # -- Here you can set New Relic' Super Agent configuration.
  # @default -- See `values.yaml` for examples
  content:
agents:
  open-telemetry:
agent_type: newrelic/io.opentelemetry.collector:0.2.0

# opamp:
#   # TODO The endpoint should be set automatically based on the licenseKey and on the nrStaging option if opamp.enable=true
#   endpoint: https://opamp.service.newrelic.com/v1/opamp
#   endpoint: https://opamp.service.eu.newrelic.com/v1/opamp

# -- This option enables a status server that can be useful for troubleshooting.
# -- Port-forward it `$ kubectl port-forward pod/{pod-name} 51200:51200`
# -- And query it as `$ curl localhost:51200/status`
server:
  enabled: true
#   port: 51200


# -- Values that the fleet is going to have in the deployment.
# @default -- See `values.yaml` for examples
subAgents:
  # The values of the fleet depends on the deployment itself. Each subagent has a different set of variables so you have to go to the subagent documentation
  # find the configuration needed for the subagent.
  #
  open-telemetry:
content:
  # chart_version: "0.4.0"
  chart_values:
licenseKey: ${nr-env:NR_LICENSE_KEY}
cluster: ${nr-env:NR_CLUSTER_NAME}
# TODO the following values are set twice in the config, we have to add some logic to improve UX either in the chart or in the agentType
# customSecretName: ""
# customSecretLicenseKey: ""


# -- Values for the Flux chat. Ref.: https://github.com/fluxcd-community/helm-charts/blob/flux2-2.10.2/charts/flux2/values.yaml
# @default -- See `values.yaml`
flux2:
  # -- Enable or disable FluxCD installation. New Relic' Super Agent need Flux to work, but the user can use an already
  # existing Flux deployment. With that use case, the use can disable Flux and use this chart to only install the CRs
  # to deploy the Super Agent.
  enabled: true

  # -- The installation of the CRDs is managed by the chart itself.
  installCRDs: true
  # -- This is the domain name of the cluster.
  clusterDomain: cluster.local

  # -- Source controller provides a way to fetch artifacts to the rest of controllers. The source API (which reference
  # [can be read here](https://fluxcd.io/flux/components/source/api/v1/)) is used by admins and various automated
  # operators to offload the Git, OCO, and Helm repositories management.
  # @default -- Enabled
  sourceController:
create: true
annotations:
  prometheus.io/port: "8080"
  prometheus.io/scrape: "false"  # TODO: Should we create a FluxCD entity to monitor flux itself.

  # -- Helm controller is a Kubernetes operator that allows to declaratively manage Helm chart releases with Kubernetes
  # manifests. The Helm release is defined in a CR ([Custom Resource](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/#custom-resources))
  # named `HelmRelease` that the operator will reconcile on the apply, edit, or deletion of a `HelmRelease` resource.
  #
  # New Relic' Super Agent will use this controller by creating `HelmRelease` CRs based in the configuration stored on
  # OpAmp. This is the only controller that the Super Agent need for now, the other controllers are disabled by default.
  #
  # On the other hand, user might want to leverage having FluxCD installed for their own purposes. Take a look to the
  # `values.yaml` to see how to enable other controllers.
  # @default -- Enabled
  helmController:
create: true
annotations:
  prometheus.io/port: "8080"
  prometheus.io/scrape: "false"  # TODO: Should we create a FluxCD entity to monitor flux itself.

  # This controller is exactly the same as the Helm controller (refer to it) but assembling manifests with
  # Kustomize instead of using templating systems like Helm.
  kustomizeController:
create: false

  # The image automation controller updates YAML files based on the latest images scanned by image reflector
  # controller, and commits the changes to a given Git repository.
  imageAutomationController:
create: false

  # The image reflector controller scans image repositories and reflects the image metadata in Kubernetes resources
  # ready to be used by other controllers.
  imageReflectionController:
create: false

  # The notification controller handles events coming from external systems (GitHub, GitLab, Bitbucket, Harbor,
  # Jenkins, etc) and notifies the GitOps toolkit controllers about source changes. The controller also handles events
  # emitted by the GitOps toolkit controllers (source, kustomize, helm) and dispatches them to external systems (Slack,
  # Microsoft Teams, Discord) based on event severity and involved objects.
  #
  # New Relic provides a powerful alert system with multiple policies and routes to alert users so it is disabled by
  # default on our FluxCD distribution.
  notificationController:
create: false

  # Upstream chart create Network Policies. They are relaxed to enough to not cut any malicious attack and not
  # reduce the attack surface enough on environments where the security is a must.
  policies:
create: false

  # -- Create RBAC rules for FluxCD is able to deploy all kind of workloads on the cluster.
  # @default -- Enabled (See `values.yaml`)
  rbac:
create: true
createAggregation: true

  # -- As we are using Flux as a tool from the super agent to release new workloads, we do not want Flux to listen to
  # all CRs created on the whole cluster. If the user does not want to use Flux and is only using it because of the
  # super agent, this is the way to go so the cluster has deployed all operators needed by the super agent. But if the
  # user want to use Flux for other purposes besides the super agent, this toggle can be used to allow Flux to work on
  # the whole cluster.
  watchAllNamespaces: false
