apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
{{- include "common.labels" . | nindent 4 }}
  name: {{ include "common.naming.fullname" . }}
  namespace: {{ .Release.Namespace }}
spec:
  selector:
matchLabels:
  {{- include "common.labels.selectorLabels" . | nindent 6 }}
  template:
metadata:
  {{- with .Values.podAnnotations }}
  annotations:
{{- toYaml . | nindent 8 }}
  {{- end }}
  labels:
{{- include "common.labels.selectorLabels" . | nindent 8 }}
{{- include "common.labels.podLabels" . | nindent 8 }}
spec:
  {{- with include "common.images.renderPullSecrets" ( dict "pullSecrets" (list .Values.imagePullSecrets) "context" .) }}
  imagePullSecrets:
{{- . | nindent 8 }}
  {{- end }}
  serviceAccountName: {{ include "common.serviceAccount.name" . }}
  securityContext:
{{- toYaml .Values.podSecurityContext | nindent 8 }}
  {{- with include "common.priorityClassName" . }}
  priorityClassName: {{ . }}
  {{- end }}
  containers:
- name: {{ .Chart.Name }}
  securityContext:
{{- toYaml .Values.securityContext | nindent 12 }}
  image: {{ include "common.images.image" ( dict "imageRoot" .Values.image "context" .) }}
  imagePullPolicy: {{ .Values.image.pullPolicy }}
  ports:
- name: http
  containerPort: 80
  protocol: TCP
  livenessProbe:
httpGet:
  path: /
  port: http
  readinessProbe:
httpGet:
  path: /
  port: http
  resources:
{{- toYaml .Values.resources | nindent 12 }}
  env:
- name: CLUSTER_NAME
  value: {{ include "common.cluster" . }}
- name: MY_APP_NON_OPTIONAL_ENV_VAR
  {{- with include "common.proxy" . }}
- name: MY_APP_PROXY_URL
  value: {{ . | quote }}
  {{- end }}  
  {{- if include "common.fedramp.enabled" . }}
- name: MY_APP_CUSTOM_ENDPOINT
  {{- end }}
  {{- with include "common.nodeSelector" . }}
  nodeSelector:
{{- . | nindent 8 }}
  {{- end }}
  {{- with include "common.affinity" . }}
  affinity:
{{- . | nindent 8 }}
  {{- end }}
  {{- with include "common.tolerations" . }}
  tolerations:
{{- . | nindent 8 }}
  {{- end }}
