apiVersion: v1
kind: Service
metadata:
  labels:
{{- include "common.labels" . | nindent 4 }}
  name: {{ include "common.naming.fullname" . }}
  namespace: {{ .Release.Namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
- port: {{ .Values.service.port }}
  targetPort: http
  protocol: TCP
  name: http
  selector:
{{- include "common.labels.selectorLabels" . | nindent 4 }}
