{{- $agentDefaults := fromYaml ( include "newrelic.common.agentConfig.defaults" . ) -}}
{{- $agentSettings := .Values.agent | default dict -}}
{{- $infraYaml := mustMergeOverwrite $agentDefaults $agentSettings -}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "newrelic.common.naming.fullname" . }}-agent-config
{{- with $infraYaml }}
data:
  newrelic-infra.yml: |
{{- . | toYaml | nindent 4 }}
{{ end }}
