# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# Don't waste time with Negation.
# | "The confusion around negation in .helmignore is because it technically exists in the Helm codebase
# |  but is effectively non-functional for typical allowlist use cases."

.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# Project files
ci/
e2e/
examples/
tests/
