# Default values for nr-k8s-otel-collector.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- Name of the Kubernetes cluster monitored. Mandatory. Can be configured also with `global.cluster`
cluster: ""
# -- This set this license key to use. Can be configured also with `global.licenseKey`
licenseKey: ""

kube-state-metrics:
  # kube-state-metrics.enabled -- Install the [`kube-state-metrics` chart](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-state-metrics) from the stable helm charts repository.
  # This is mandatory if `infrastructure.enabled` is set to `true` and the user does not provide its own instance of KSM version >=1.8 and <=2.0. Note, kube-state-metrics v2+ disables labels/annotations
  # metrics by default. You can enable the target labels/annotations metrics to be monitored by using the metricLabelsAllowlist/metricAnnotationsAllowList options described [here](https://github.com/prometheus-community/helm-charts/blob/159cd8e4fb89b8b107dcc100287504bb91bf30e0/charts/kube-state-metrics/values.yaml#L274) in
  # your Kubernetes clusters.
  enabled: true

  # -- Sets resources for kube-state-metrics.
  resources: {}

  # -- Disable prometheus from auto-discovering KSM and potentially scraping duplicated data
  prometheusScrape: false
  # -- Enable resource quota data exporting
  enableResourceQuotaSamples: false
  # kube-state-metrics.metricLabelsAllowlist -- List of Kubernetes label keys that will be used in the resources' labels metric.
  # By default, kube-state-metrics v2+ does not expose labels as metric labels. This option allows you to specify which labels
  # should be exposed as metric dimensions. Each entry is formatted as "resource=[label1,label2,...]".
  # Use "*" to include all labels for a resource type.
  # Example: ["pods=[app,environment,team]", "namespaces=[environment]", "deployments=[app,version]"]
  # @default -- `["pods=[*]", "namespaces=[*]", "deployments=[*]"]`
  metricLabelsAllowlist:
    - "pods=[*]"
    - "namespaces=[*]"
    - "deployments=[*]"
  # kube-state-metrics.metricAnnotationsAllowList -- List of Kubernetes annotation keys that will be used in the resources' annotations metric.
  # By default, kube-state-metrics v2+ does not expose annotations as metric labels. This option allows you to specify which annotations
  # should be exposed as metric dimensions. Each entry is formatted as "resource=[annotation1,annotation2,...]".
  # Use "*" to include all annotations for a resource type.
  # Example: ["pods=[description,owner]", "namespaces=[description]", "deployments=[change-id,jira-ticket]"]
  # @default -- `["pods=[*]", "namespaces=[*]", "deployments=[*]"]`
  metricAnnotationsAllowList:
    - "pods=[*]"
    - "namespaces=[*]"
    - "deployments=[*]"

# This chart has support for OpenShift and GKE Autopilot.
# -- The provider that you are deploying your cluster into. Sets known config constraints for your specific provider. Currently supporting OpenShift and GKE autopilot. If set, provider must be one of "GKE_AUTOPILOT" or "OPEN_SHIFT"
provider: ""

# -- Images used by the chart.
images:
  # -- The secrets that are needed to pull images from a custom registry.
  pullSecrets: []
  # - name: regsecret
  # -- Image for the OpenTelemetry Collector.
  collector:
    registry: ""
    repository: newrelic/nrdot-collector-k8s
    tag: "1.5.0"
    pullPolicy: IfNotPresent
  # -- Image for the initContainer that retrieves node allocatable resources.
  kubectl:
    registry: ""
    repository: bitnami/kubectl
    tag: latest
    pullPolicy: IfNotPresent

# -- In case you don't want to have the license key in you values, this allows you to point to a user created secret to get the key from there. Can be configured also with `global.customSecretName`
customSecretName: ""
# -- In case you don't want to have the license key in you values, this allows you to point to which secret key is the license key located. Can be configured also with `global.customSecretLicenseKey`
customSecretLicenseKey: ""

# -- Configures the Otel collector(s) to send all data through the specified proxy.
proxy: ""

# -- Additional labels for chart pods
podLabels: {}
# -- Additional labels for chart objects
labels: {}

# -- Sets pod's priorityClassName. Can be configured also with `global.priorityClassName`
priorityClassName: ""

# -- Sets pod's dnsConfig. Can be configured also with `global.dnsConfig`
dnsConfig: {}

# -- Define custom processors here. See: https://opentelemetry.io/docs/collector/configuration/#processors
processors:

# -- Define custom exporters here. See: https://opentelemetry.io/docs/collector/configuration/#exporters
exporters:

# -- Edit how the NR Metrics pipeline handles your Metrics
metricsPipeline:
  collectorIngress:
    # -- List of processors to be applied to your RAW Metrics.
    # This is applied at the beginning of the pipeline
    processors:
    # -- List of exporters that you'd like to use to export RAW Metrics.
    exporters:
  collectorEgress:
    # -- List of processors to be applied to your Metrics after the NR processors have been applied.
    # This is applied at the end of the pipeline after the default NR processors have been applied to the data.
    processors:
    # -- List of additional exports to export the processed Metrics.
    exporters:

# -- Edit how the NR Logs pipeline handles your Logs
logsPipeline:
  collectorIngress:
    # -- List of processors to be applied to your RAW Logs.
    # This is applied at the beginning of the pipeline
    processors:
    # -- List of exporters that you'd like to use to export RAW Logs.
    exporters:
  collectorEgress:
    # -- List of processors to be applied to your Logs after the NR processors have been applied.
    # This is applied at the end of the pipeline after the default NR processors have been applied to the data.
    processors:
    # -- List of additional exports to export the processed Logs.
    exporters:

daemonset:
  # -- Specifies whether to install the DaemonSet collectors. This should only be changed for advanced use cases. For more information, refer to the appropriate section in the README.md
  enabled: true
  # -- Sets daemonset pod node selector. Overrides `nodeSelector` and `global.nodeSelector`
  nodeSelector: {}
  # -- Sets daemonset pod tolerations. Overrides `tolerations` and `global.tolerations`
  tolerations: []
  # -- Sets daemonset pod affinities. Overrides `affinity` and `global.affinity`
  affinity: {}
  # -- Annotations to be added to the daemonset.
  podAnnotations: {}
  # -- Sets security context (at pod level) for the daemonset. Overrides `podSecurityContext` and `global.podSecurityContext`
  podSecurityContext: {}
  # -- Sets security context (at container level) for the daemonset. Overrides `containerSecurityContext` and `global.containerSecurityContext`
  containerSecurityContext:
    privileged: false
    runAsNonRoot: true
    runAsUser: 1001
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL

  # -- Sets resources for the daemonset.
  resources: {}
  # -- Sets additional environment variables for the daemonset.
  envs: []
  # -- Sets additional environment variable sources for the daemonset.
  envsFrom: []
  # -- Additional args for the daemonset container
  # https://opentelemetry.io/docs/collector/configuration/
  # Example:
  # extraArgs:
  #   - "--config=yaml:service::telemetry::logs::level: debug"
  #   - "--config=yaml:exporters::otlphttp/newrelic::endpoint: https://otlp.eu.nr-data.net"
  extraArgs: []
  # -- Settings for daemonset configmap
  # @default -- See `values.yaml`
  configMap:
    # -- OpenTelemetry config for the daemonset. If set, overrides default config and disables configuration parameters for the daemonset.
    overrideConfig: {}
    # -- Additional OpenTelemetry config for the daemonset. If set, extends the default config by adding more receivers/processors/exporters/connectors/pipelines.
    extraConfig:
      receivers:
      processors:
      exporters:
      connectors:
      pipelines:
  # -- Additional volumes to be added to the daemonset pod
  extraVolumes: []
  # - name: example-volume
  #   configMap:
  #     name: example-configmap
  # -- Additional volume mounts to be added to the daemonset container
  extraVolumeMounts: []
  # - name: example-volume
  #   mountPath: /etc/example
  #   readOnly: true

deployment:
  # -- Specifies whether to install the Deployment collector. This should only be changed for advanced use cases. For more information, refer to the appropriate section in the README.md
  enabled: true
  # -- Sets deployment pod node selector. Overrides `nodeSelector` and `global.nodeSelector`
  nodeSelector: {}
  # -- Sets deployment pod tolerations. Overrides `tolerations` and `global.tolerations`
  tolerations: []
  # -- Sets deployment pod affinities. Overrides `affinity` and `global.affinity`
  affinity: {}
  # -- Annotations to be added to the deployment.
  podAnnotations: {}
  # -- Sets security context (at pod level) for the deployment. Overrides `podSecurityContext` and `global.podSecurityContext`
  podSecurityContext: {}
  # -- Sets security context (at container level) for the deployment. Overrides `containerSecurityContext` and `global.containerSecurityContext`
  containerSecurityContext:
    privileged: false
    runAsNonRoot: true
    runAsUser: 1001
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL


  # -- Sets resources for the deployment.
  resources: {}
  # -- Sets additional environment variables for the deployment.
  envs: []
  # -- Sets additional environment variable sources for the deployment.
  envsFrom: []
  # -- Additional args for the deployment container
  #  https://opentelemetry.io/docs/collector/configuration/
  # Example:
  # extraArgs:
  #   - "--config=yaml:service::telemetry::logs::level: debug"
  #   - "--config=yaml:exporters::otlphttp/newrelic::endpoint: https://otlp.eu.nr-data.net"
  extraArgs: []
  # -- Settings for deployment configmap
  # @default -- See `values.yaml`
  configMap:
    # -- OpenTelemetry config for the deployment. If set, overrides default config and disables configuration parameters for the deployment.
    overrideConfig: {}
    # -- Additional OpenTelemetry config for the deployment. If set, extends the default config by adding more receivers/processors/exporters/connectors/pipelines.
    extraConfig:
      receivers:
      processors:
      exporters:
      connectors:
      pipelines:
  # -- Additional volumes to be added to the deployment pod
  extraVolumes: []
  # - name: example-volume
  #   configMap:
  #     name: example-configmap
  # -- Additional volume mounts to be added to the deployment container
  extraVolumeMounts: []
  # - name: example-volume
  #   mountPath: /etc/example
  #   readOnly: true

# -- Sets all pods' node selector. Can be configured also with `global.nodeSelector`
nodeSelector: {}
# -- Sets all pods' tolerations to node taints. Can be configured also with `global.tolerations`
tolerations: []
# -- Sets all pods' affinities. Can be configured also with `global.affinity`
affinity: {}
# -- Sets all security contexts (at pod level). Can be configured also with `global.securityContext.pod`
podSecurityContext: {}
# -- Sets all security context (at container level). Can be configured also with `global.securityContext.container`
containerSecurityContext:
  privileged: false
  runAsNonRoot: true
  runAsUser: 1001
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop:
      - ALL

rbac:
  # -- Specifies whether RBAC resources should be created
  create: true

# -- Settings controlling ServiceAccount creation
# @default -- See `values.yaml`
serviceAccount:
  # serviceAccount.create -- (bool) Specifies whether a ServiceAccount should be created
  # @default -- `true`
  create:
  # If not set and create is true, a name is generated using the fullname template
  name: ""
  # Specify any annotations to add to the ServiceAccount
  annotations:

# -- (bool) Sets the debug logs to this integration or all integrations if it is set globally. Can be configured also with `global.verboseLog`
# @default -- `false`
verboseLog:

# -- (bool) Send the metrics to the staging backend. Requires a valid staging license key. Can be configured also with `global.nrStaging`
# @default -- `false`
nrStaging:

receivers:
  prometheus:
    # -- (bool) Specifies whether the `prometheus` receiver is enabled
    # @default -- `true`
    enabled: true
    # -- Sets the scrape interval for the `prometheus` receiver
    # @default -- `1m`
    scrapeInterval: 1m
    # -- Label selector that will be used to automatically discover an instance of kube-state-metrics running in the cluster.
    # @default -- `app.kubernetes.io/name=kube-state-metrics`
    ksmSelector: "app.kubernetes.io/name=kube-state-metrics"
  k8sEvents:
    # -- (bool) Specifies whether the `k8s_events` receiver is enabled
    # @default -- `true`
    enabled: true
  hostmetrics:
    # -- (bool) Specifies whether the `hostmetrics` receiver is enabled
    # @default -- `true`
    enabled: true
    # -- Sets the scrape interval for the `hostmetrics` receiver
    # @default -- `1m`
    scrapeInterval: 1m
  kubeletstats:
    # -- (bool) Specifies whether the `kubeletstats` receiver is enabled
    # @default -- `true`
    enabled: true
    # -- Sets the scrape interval for the `kubeletstats` receiver
    # @default -- `1m`
    scrapeInterval: 1m
  filelog:
    # -- (bool) Specifies whether the `filelog` receiver is enabled
    # @default -- `true`
    enabled: true

  # DEPRECATED 1/21/25: Please configure values under `collectorObservability` instead
  collectorMetrics:
    # -- (bool) Specifies whether collector metrics are scraped from the deployment collector. Requires prometheus receiver to be enabled.
    # @default -- `false`
    enabled: false
    # -- Sets the scrape interval for metrics scraped from the deployment collector
    # @default -- `1m`
    scrapeInterval: 1m

# Modern method for enabling the collector to report its own metrics (replaces `receivers.collectorMetrics`)
collectorObservability:
  # -- (bool) Specifies whether the collector reports its own metrics
  # @default -- `false`
  enabled: false
  # -- Sets the scrape interval for metrics scraped from the deployment collector
  # @default -- `1m`
  scrapeInterval: 1m

# -- (bool) Send only the [metrics required](https://github.com/newrelic/helm-charts/tree/master/charts/nr-k8s-otel-collector/docs/metrics-lowDataMode.md) to light up the NR kubernetes UI
# @default -- `true`
lowDataMode:
