# This is a YAML-formatted file that contains default values for serverless-job-manager and associated runtime charts.
# Declare variables to be passed into your templates.

# The imagePullSecrets stores Docker credentials that are used for accessing a registry.
imagePullSecrets: []

# The nameOverride replaces the name of the chart in the Chart.yaml file.
nameOverride: ""

# By default, fullname uses '-. This overrides that and uses the given string instead.
fullnameOverride: ""

# The appVersionOverride overrides the current app version.
appVersionOverride: ""

global:
  # The hostnameOverride overrides the default DNS service name for serverless-job-manager
  hostnameOverride: ""

  # The internalApiKey is a key used for restricting communication between serverless-job-manager and runtime
  # pods. The default value is empty but this is required.
  internalApiKey: "default"

  # internalApiKeySecretName expects a Kubernetes Secret to exist that includes the key internalApiKey
  internalApiKeySecretName: ""

  ## The checkTimeout represents the maximum amount of seconds that your jobs are allowed to run.
  ## The minimum allowed value for this parameter is 1 second and the maximum allowed value for this parameter is 900 seconds.
  ## The default is 180 seconds.
  checkTimeout: "180"

  ## For users who are mounting a volume in order to provide a JSON file of user-defined variables or custom node modules,
  ## provide one of the following
  ## * an existing PersistentVolumeClaim resource
  ## * an existing PersistentVolume resource, storageClass (optional), & size (optional)
  persistence:
    ## The name of the PersistentVolumeClaim to use
    existingClaimName: ""

    ## If the volume exists but no claim exists we'll create the claim
    # existingVolumeName: ""

    ## Indicate the storage class of your existing volume. If an existingVolumeName is provided and no storageClass, Kubernetes
    ## will use the default storage class.
    # storageClass: ""

    ## Set the size to be used for the claim. Default is 2Gi
    # size: ""

  # Users may include a package.json file in their persistent volume to install custom node modules for their scripted jobs
  # Example: add "modules" if the package.json file is in the modules folder.
  customNodeModules:
    ## Path on the Persistent Volume to the package.json file. Requires that the user set up a PersistentVolume
    ## and include the package.json file before installing Helm Chart.
    customNodeModulesPath: ""

serverless:
  # The locationKey is a key generated when creating a serverless location.
  # Serverless locations allow you to run jobs in new geographical locations or behind a firewall, such as an intranet site.
  locationKey: ""

  # locationKeySecretName expects a Kubernetes Secret to exist that includes the key locationKey
  locationKeySecretName: ""

  # The logLevel is defaulted to INFO, which report about normal operations, but they provide the skeleton of what happened.
  # Other Options:
  # 1. DEBUG: These messages report detailed diagnostic information and more information than you'd want in normal production situations.
  # 2. TRACE: These messages capture every detail you possibly care about
  logLevel: "INFO"

  ## For US-based accounts, the endpoint is: https://compute-broker.nr-data.net.
  ## For EU-based accounts, the endpoint is: https://compute-broker.eu01.nr-data.net/
  brokerApiEndpoint: "https://compute-broker.nr-data.net"

  ## Users have 3 different options when providing user-defined variables to their serverless job manager -
  userDefinedVariables:
    ## The userDefinedVariables defines the locally hosted set of user-defined key value pairs.
    ## eg: '{"key":"value","key2":"value2"}'
    userDefinedJson: ''

    ## The userDefinedVariable file contents, set using --set-file when installing the Helm Chart. Just uncomment
    ## and leave the value as-is
    # userDefinedFile: "{}"

    ## Path on the Persistent Volume to the user-defined variables file. Requires that the user set up a PersistentVolume
    ## and include user_defined_variables.json file before installing Helm Chart. Example: add "variables" if the
    ## user_defined_variables.json file is in the variables folder.
    # userDefinedPath: ""

  ## If set, enables verified script execution and uses this value as a passphrase.
  vsePassphrase: ""

  ## If set, enables verified script execution and uses this value from this Kubernetes Secret as a passphrase. Expects a key named `vsePassphrase`.
  #  vsePassphraseSecretName: ""

  ## Enables the use of a proxy when communicating with New Relic to fetch and process jobs. If set, `apiProxyPort` should also be set.
  #  apiProxyHost: ""

  ## Enables the use of a proxy when communicating with New Relic to fetch and process jobs. If set, `apiProxyHost` should also be set.
  #  apiProxyPort: ""

  ## If set, the accepted values are: true, 1, or yes.
  #  brokerApiProxySelfSignedCert: ""

  ## If set, the format is: "username" and "password". Support HTTP Basic Authentication and additional authentication protocols supported by Chrome.
  #  brokerApiProxyUsername: ""
  #  brokerApiProxyPw: ""

  ## The jvmOpts passes command line options to the internal JVM.
  ## For more information: https://docs.oracle.com/javase/8/docs/technotes/tools/unix/java.html
  #  jvmOpts: "-XX:-UsePerfData"

  ## A serverless-job-manager is not healthy if it cannot connect to the public internet. Set this value to true to bypass this health check.
  #  networkHealthCheckDisabled: "false"

  ## Configuration for Horizontal Pod Autoscaler based on queue depth from Broker Service
  hpa:
    enabled: true
    minReplicas: 1
    maxReplicas: 10
    ## Custom metrics for scaling based on Broker queue depth
    ## This requires external metrics adapter to be configured
    customMetrics:
      # Name of the custom metric exposed by Broker Service
      queueDepthMetricName: "serverless_queue_depth"
      # Target value for queue depth per replica
      targetValue: "100"

  ## Configuration for sidecar container that acts as egress proxy and communication agent
  sidecar:
    enabled: true
    image:
      repository: newrelic/serverless-sidecar
      tag: "latest"
      pullPolicy: IfNotPresent
    resources:
      requests:
        cpu: "100m"
        memory: "128Mi"
      limits:
        cpu: "200m"
        memory: "256Mi"

image:
  # This parameter determines what container the pod will run as.
  repository: newrelic/serverless-job-manager
  # The pull policy is defaulted to IfNotPresent, which skips pulling an image if it already exists. If pullPolicy is defined without a specific value, it is also set to Always.
  pullPolicy: IfNotPresent

## The AppArmor profile name that will be applied to the pods. If set, then the AppArmor profile must exist on the Kubernetes node(s) for this to work.
# appArmorProfileName: ""

# The number of times the startup probe should retry before giving up.
startupProbeFailureThreshold: 60

# How often (in seconds) to perform the startup probe.
startupProbePeriodSeconds: 10

# The number of times the liveness probe should retry before giving up
livenessProbeFailureThreshold: 1

# How often (in seconds) to perform the liveness probe.
livenessProbePeriodSeconds: 10

# Number of seconds after which the liveness probe times out.
livenessProbeTimeoutSeconds: 10

resources:
  requests:
    cpu: "500m"
    memory: "800Mi"
  limits:
    cpu: "750m"
    memory: "1600Mi"

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

labels: {}

annotations: {}

nodeSelector: {}

tolerations: []

affinity: {}

# Service Account configuration for Job Manager
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# RBAC configuration for Job Manager to manage workload resources
rbac:
  # Specifies whether RBAC resources should be created
  create: true

# Network policies for isolation
networkPolicy:
  enabled: false
  # Egress rules
  egress: []
  # Ingress rules
  ingress: []


node-api-runtime:
  enabled: true

  # Set this to the maximum number of node-api-runtime jobs you want to run in parallel
  parallelism: 1

  # Set this to the maximum number of node-api-runtime jobs you expect to execute per minute (multiplied by the value of `parallelism` above)
  completions: 6

  # The imagePullSecrets stores Docker credentials that are used for accessing a registry.
  imagePullSecrets: []

  # The nameOverride replaces the name of the chart in the Chart.yaml file.
  nameOverride: ""

  # By default, fullname uses '-. This overrides that and uses the given string instead.
  fullnameOverride: ""

  # The appVersionOverride overrides the current app version.
  appVersionOverride: ""

  image:
    # This parameter determines what container the pod will run as.
    repository: newrelic/synthetics-node-api-runtime
    # The pull policy is defaulted to IfNotPresent, which skips pulling an image if it already exists. If pullPolicy is defined without a specific value, it is also set to Always.
    pullPolicy: IfNotPresent

  ## The AppArmor profile name that will be applied to the pods. If set, then the AppArmor profile must exist on the Kubernetes node(s) for this to work.
  # appArmorProfileName: ""

  # The number of times the startup probe should retry before giving up.
  startupProbeFailureThreshold: 60

  # How often (in seconds) to perform the startup probe.
  startupProbePeriodSeconds: 10

  # The number of times the liveness probe should retry before giving up
  livenessProbeFailureThreshold: 1

  # How often (in seconds) to perform the liveness probe.
  livenessProbePeriodSeconds: 10

  # Number of seconds after which the liveness probe times out.
  livenessProbeTimeoutSeconds: 10

  resources:
    requests:
      cpu: "500m"
      memory: "1250Mi"
    limits:
      cpu: "750m"
      memory: "2500Mi"

  podAnnotations: {}

  podSecurityContext: {}

  securityContext: {}

  labels: {}

  annotations: {}

  nodeSelector: {}

  tolerations: []

  affinity: {}


node-browser-runtime:
  enabled: true

  # Set this to the maximum number of node-browser-runtime jobs you want to run in parallel
  parallelism: 1

  # Set this to the maximum number of node-browser-runtime jobs you expect to execute per minute (multiplied by the value of `parallelism` above)
  completions: 6

  # The imagePullSecrets stores Docker credentials that are used for accessing a registry.
  imagePullSecrets: []

  # The nameOverride replaces the name of the chart in the Chart.yaml file.
  nameOverride: ""

  # By default, fullname uses '-. This overrides that and uses the given string instead.
  fullnameOverride: ""

  # The appVersionOverride overrides the current app version.
  appVersionOverride: ""

  image:
    # This parameter determines what container the pod will run as.
    repository: newrelic/synthetics-node-browser-runtime
    # The pull policy is defaulted to IfNotPresent, which skips pulling an image if it already exists. If pullPolicy is defined without a specific value, it is also set to Always.
    pullPolicy: IfNotPresent

  ## The AppArmor profile name that will be applied to the pods. If set, then the AppArmor profile must exist on the Kubernetes node(s) for this to work.
  # appArmorProfileName: ""

  # The number of times the startup probe should retry before giving up.
  startupProbeFailureThreshold: 60

  # How often (in seconds) to perform the startup probe.
  startupProbePeriodSeconds: 10

  # The number of times the liveness probe should retry before giving up
  livenessProbeFailureThreshold: 1

  # How often (in seconds) to perform the liveness probe.
  livenessProbePeriodSeconds: 10

  # Number of seconds after which the liveness probe times out.
  livenessProbeTimeoutSeconds: 10

  resources:
    requests:
      cpu: "1000m"
      memory: "2000Mi"
    limits:
      cpu: "1500m"
      memory: "3000Mi"

  podAnnotations: {}

  podSecurityContext: {}

  securityContext: {}

  labels: {}

  annotations: {}

  nodeSelector: {}

  tolerations: []

  affinity: {}