{{- if (index .Values "agent-control-deployment").enabled -}}
{{- $installJobName := include "newrelic.common.naming.truncateToDNSWithSuffix" ( dict "name" (include "newrelic.common.naming.fullname" .) "suffix" "install-job" ) -}}
{{- $secretName := include "agent-control.secret.name" . -}}
apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded
    helm.sh/hook-weight: "20"
  name: {{ $installJobName }}
  namespace: {{ .Release.Namespace }}
spec:
  backoffLimit: 2
  template:
    spec:
      restartPolicy: Never
      serviceAccountName: {{ include "newrelic.common.naming.truncateToDNSWithSuffix" (dict "name" .Release.Name "suffix" "install-job") }}
      containers:
        - name: install-agent-control-deployment
          image: {{ include "newrelic.common.images.image" ( dict "imageRoot" .Values.toolkitImage "context" .) }}
          imagePullPolicy: {{ .Values.toolkitImage.pullPolicy }}
          resources:
            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 50m
              memory: 64Mi
          args:
            - install-agent-control
            - --chart-version={{ .Values.installationJob.chartVersion | default .Chart.AppVersion }}
            - --secrets={{ $secretName }}=agent-control-deployment.yaml,{{ $secretName }}=global.yaml,{{ $secretName }}=override.yaml
            - --namespace={{ .Release.Namespace }}
            - --repository-url={{ .Values.installationJob.chartRepositoryUrl }}
            - --log-level={{ .Values.installationJob.logLevel }}
            - --chart-name={{ .Values.installationJob.chartName }}
            {{- if .Values.installationJob.repositorySecretReferenceName }}
            - --repository-secret-reference-name={{ .Values.installationJob.repositorySecretReferenceName }}
            {{- end }}
            {{- if .Values.installationJob.repositoryCertificateSecretReferenceName }}
            - --repository-certificate-secret-reference-name={{ .Values.installationJob.repositoryCertificateSecretReferenceName }}
            {{- end }}
{{- end -}}
