{{- if .Values.agentControlDeployment.enabled -}}
{{- $installJobName := include "newrelic.common.naming.truncateToDNSWithSuffix" ( dict "name" (include "newrelic.common.naming.fullname" .) "suffix" "install-job" ) -}}
{{- $secretName := include "agent-control.secret.name" . -}}
{{- $fluxSecretName := printf "%s-flux" (include "agent-control.secret.name" .) -}}
apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded
    helm.sh/hook-weight: "20"
  name: {{ $installJobName }}
  namespace: {{ .Release.Namespace }}
spec:
  backoffLimit: 2
  template:
    spec:
      restartPolicy: Never
      serviceAccountName: {{ include "newrelic.common.naming.truncateToDNSWithSuffix" (dict "name" .Release.Name "suffix" "install-job") }}
      containers:
        - name: install-agent-control-deployment
          image: {{ include "newrelic.common.images.image" ( dict "imageRoot" .Values.toolkitImage "context" .) }}
          imagePullPolicy: {{ .Values.toolkitImage.pullPolicy }}
          resources:
            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 50m
              memory: 64Mi
          command: ["/bin/sh", "-c"]
          args:
            - |-
            {{- if .Values.agentControlCd.enabled }}
              echo "Creating Flux's CD resources..."
              newrelic-agent-control-cli create-cd-resources \
                --chart-version={{ .Values.agentControlCd.chartVersion | default .Chart.Annotations.agentControlCdVersion }} \
                --secrets={{ $fluxSecretName }}=agent-control-flux.yaml \
                --namespace={{ .Release.Namespace }} \
                --repository-url={{ .Values.agentControlCd.chartRepositoryUrl }} \
                --log-level={{ .Values.installation.log.level }} \
            {{- if .Values.agentControlCd.repositorySecretReferenceName }}
                --repository-secret-reference-name={{ .Values.agentControlCd.repositorySecretReferenceName }} \
            {{- end }}
            {{- if .Values.agentControlCd.repositoryCertificateSecretReferenceName }}
                --repository-certificate-secret-reference-name={{ .Values.agentControlCd.repositoryCertificateSecretReferenceName }} \
            {{- end }}
                --chart-name={{ .Values.agentControlCd.chartName }} \
                --release-name={{ .Values.agentControlCd.releaseName }}
            {{- end }}

              echo "Creating agent-control-deployment resources..."
              newrelic-agent-control-cli install-agent-control \
                --chart-version={{ .Values.agentControlDeployment.chartVersion | default .Chart.AppVersion }} \
                --secrets={{ $secretName }}=agent-control-deployment.yaml,{{ $secretName }}=global.yaml \
                --namespace={{ .Release.Namespace }} \
                --repository-url={{ .Values.agentControlDeployment.chartRepositoryUrl }} \
                --log-level={{ .Values.installation.log.level }} \
            {{- if .Values.agentControlDeployment.repositorySecretReferenceName }}
                --repository-secret-reference-name={{ .Values.agentControlDeployment.repositorySecretReferenceName }} \
            {{- end }}
            {{- if .Values.agentControlDeployment.repositoryCertificateSecretReferenceName }}
                --repository-certificate-secret-reference-name={{ .Values.agentControlDeployment.repositoryCertificateSecretReferenceName }} \
            {{- end }}
                --chart-name={{ .Values.agentControlDeployment.chartName }} \
                --release-name={{ .Values.agentControlDeployment.releaseName }}
{{- end -}}
