apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ .Release.Namespace }}
  labels:
{{- include "newrelic.labels" . | nindent 4 }}
  name: {{ template "newrelic.fullname" . }}-integrations-cfg
data:
  # This ConfigMap holds config files for integrations. They should have the following format:
  #redis-config.yml: |
  #  # Run auto discovery to find pods with label "app=redis"
  #  discovery:
  #command:
  #  # Run discovery for Kubernetes. Use the following optional arguments:
  #  # --namespaces: Comma separated list of namespaces to discover pods on
  #  # --tls: Use secure (TLS) connection
  #  # --port: Port used to connect to the kubelet. Default is 10255
  #  exec: /var/db/newrelic-infra/nri-discovery-kubernetes --port PORT --tls
  #  match:
  #label.app: redis
  #  integrations:
  #- name: nri-redis
  #  env:
  ## using the discovered IP as the hostname address
  #HOSTNAME: ${discovery.ip}
  #PORT: 6379
  #KEYS: '{"0":["<KEY_1>"],"1":["<KEY_2>"]}'
  #REMOTE_MONITORING: true
  #  labels:
  #env: production
  {{- if .Values.integrations -}}
  {{- range $k, $v := .Values.integrations -}}
  {{- $k | trimSuffix ".yaml" | trimSuffix ".yml" | nindent 2 -}}.yaml: |-
  {{- tpl ($v | toYaml) $ | nindent 4 -}}
  {{- end }}
  {{- end }}
  {{- include "newrelic.compatibility.integrations" . | nindent 2 }}
