{{ if or .Values.integrations (include "newrelic.compatibility.integrations" .)}}
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ .Release.Namespace }}
  labels:
{{- include "newrelic.labels" . | nindent 4 }}
  name: {{ template "newrelic.fullname" . }}-integrations-cfg
data:
  {{- if .Values.integrations -}}
  {{- range $k, $v := .Values.integrations -}}
  {{- $k | trimSuffix ".yaml" | trimSuffix ".yml" | nindent 2 -}}.yaml: |-
  {{- tpl ($v | toYaml) $ | nindent 4 -}}
  {{- end -}}
  {{- end -}}
  {{- include "newrelic.compatibility.integrations" . | nindent 2 -}}
{{- end -}}
