apiVersion: v1
kind: Service
metadata:
  name: {{ include "serverless-job-manager.hostname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "serverless-job-manager.labels" . | nindent 4 }}
      {{- with .Values.labels -}}
      {{ toYaml . | nindent 4 }}
      {{- end }}
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
    - name: admin
      port: 8082
      targetPort: admin
      protocol: TCP
  selector:
    {{- include "serverless-job-manager.selectorLabels" . | nindent 4 }}