apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "newrelic.common.naming.fullname" . }}-daemonset
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "newrelic.common.labels" . | nindent 4 }}
spec: 
  selector:
    matchLabels:
      {{- include "newrelic.common.labels.selectorLabels" . | nindent 6 }}
      component: daemonset
  template:
    metadata:
      labels:
        {{- include "newrelic.common.labels.selectorLabels" . | nindent 8 }}
        component: daemonset
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/daemonset-configmap.yaml") . | sha256sum }}
        {{- with .Values.daemonset.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "newrelic.common.serviceAccount.name" . }}
      securityContext:
        {{- toYaml .Values.daemonset.podSecurityContext | nindent 8 }}
      containers: 
        - name: otel-collector-daemonset
          securityContext:
            {{- toYaml .Values.daemonset.containerSecurityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /otelcol-contrib
            - --config=/conf/otel-collector-config.yaml
          resources:
            {{- toYaml .Values.daemonset.resources | nindent 12 }}
          env:
            - name: HOST_IP
              valueFrom: 
                fieldRef:
                  fieldPath: status.hostIP 
            - name: OTEL_EXPORTER_OTLP_ENDPOINT 
              value: "http://$(HOST_IP):55680"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_UID
              valueFrom: 
                fieldRef:
                  fieldPath: metadata.uid
            - name: KUBE_NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: service.instance.id=$(POD_NAME),k8s.pod.uid=$(POD_UID)
            - name: NR_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "newrelic.common.license.secretName" . }}
                  key: {{ include "newrelic.common.license.secretKeyName" . }}
          volumeMounts:
            # TODO (chris): Comment out below when not linux
            - name: host-fs
              mountPath: /hostfs
              readOnly: true
            - name: config-volume
              mountPath: /conf
            - name: varlogpods
              mountPath: /var/log/pods
              readOnly: true
            - name: varlibdockercontainers
              mountPath: /var/lib/docker/containers
              readOnly: true
      volumes:
        # TODO (chris): Comment out below when not linux
        - name: host-fs
          hostPath:
            path: /
        - name: config-volume
          configMap:
            name: {{ include "newrelic.common.naming.fullname" . }}-daemonset-config
        - name: varlogpods 
          hostPath:
            path: /var/log/pods
        - name: varlibdockercontainers
          hostPath:
            path: /var/lib/docker/containers
      {{- with include "nrKubernetesOtel.daemonset.nodeSelector" . }}
      nodeSelector:
        {{- . | nindent 8 }}
      {{- end }}
      {{- with include "nrKubernetesOtel.daemonset.affinity" . }}
      affinity:
        {{- . | nindent 8 }}
      {{- end }}
      {{- with include "nrKubernetesOtel.daemonset.tolerations" . }}
      tolerations:
        {{- . | nindent 8 }}
      {{- end }}