apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nrKubernetesOtel.deployment.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "newrelic.common.labels" . | nindent 4 }}
spec:
  replicas: 1
  minReadySeconds: 5
  selector:
    matchLabels:
      {{- include "newrelic.common.labels.selectorLabels" . | nindent 6 }}
      component: deployment
  template:
    metadata:
      labels:
        {{- include "newrelic.common.labels.podLabels" . | nindent 8 }}
        component: deployment
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/deployment-configmap.yaml") . | sha256sum }}
        {{- with .Values.deployment.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "newrelic.common.serviceAccount.name" . }}
      {{- with include "nrKubernetesOtel.deployment.securityContext.pod" . }}
      securityContext:
        {{- . | nindent 8 }}
      {{- end }}
      {{- with include "newrelic.common.priorityClassName" . }}
      priorityClassName: {{ . }}
      {{- end }}
      {{- with include "newrelic.common.dnsConfig" . }}
      dnsConfig:
        {{- . | nindent 8 }}
      {{- end }}
      containers:
        - name: otel-collector-deployment
          {{- with include "nrKubernetesOtel.deployment.securityContext.container" . }}
          securityContext:
            {{- . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args: ["--config", "/config/deployment-config.yaml"]
          resources:
            {{- toYaml .Values.deployment.resources | nindent 12 }}
          {{- with .Values.deployment.envsFrom }}
          envFrom:
            {{- . | toYaml | nindent 12 }}
          {{- end }}
          env:
            - name: KUBE_NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.podIP
            - name: NR_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "newrelic.common.license.secretName" . }}
                  key: {{ include "newrelic.common.license.secretKeyName" . }}
          {{- if include "newrelic.common.proxy" . }}
            - name: http_proxy
              value: "{{- include "newrelic.common.proxy" . }}"
            - name: https_proxy
              value: "{{- include "newrelic.common.proxy" . }}"
            {{- end }}
            {{- with .Values.deployment.envs }}
            {{- . | toYaml | nindent 12 }}
            {{- end }}
          ports:
            - name: http
              containerPort: 4318
              protocol: TCP
          volumeMounts:
            - name: deployment-config
              mountPath: /config
      volumes:
        - name: deployment-config
          configMap:
            name: {{ include "nrKubernetesOtel.deployment.configMap.fullname" . }}
      {{- with include "nrKubernetesOtel.deployment.nodeSelector" . }}
      nodeSelector:
        {{- . | nindent 8 }}
      {{- end }}
      {{- with include "nrKubernetesOtel.deployment.affinity" . }}
      affinity:
        {{- . | nindent 8 }}
      {{- end }}
      {{- with include "nrKubernetesOtel.deployment.tolerations" . }}
      tolerations:
        {{- . | nindent 8 }}
      {{- end }}
