global:
  licenseKey: 1234567890abcdef1234567890abcdef12345678
  cluster: test-cluster

common:
  agentConfig:
    eventQueueDepth: 3000
  config:
    interval: 15s
    timeout: 30s

customAttributes: '{"new":"relic","loren":"ipsum"}'

ksm:
  enabled: true
  annotations: {}
  tolerations:
    - operator: "Exists"
      effect: "NoSchedule"
    - operator: "Exists"
      effect: "NoExecute"
  extraEnv:
    - name: ENV_VAR1
      value: "var1"
    - name: ENV_VAR2
      value: "var2"
  extraEnvFrom: []
  # Mount additional volumes into the pod.
  extraVolumes: []
  # Mount additional volume Mounts into the pod.
  extraVolumeMounts: []
  resources:
    limits:
      memory: 300M
    requests:
      cpu: 100m
      memory: 150M

# K8s DaemonSets update strategy.
updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 1

enableProcessMetrics: "false"
logFile: /var/log/nr-infra.log
verboseLog: true
serviceAccount:
  create: true

podAnnotations:
  annotation1: "annotation"
podLabels:
  label1: "label"

securityContext:
  runAsUser: 1000
  runAsGroup: 2000
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true

privileged: true

rbac:
  create: true
  pspEnabled: false

prefixDisplayNameWithCluster: false
useNodeNameAsDisplayName: true
integrations_config: []

kubelet:
  enabled: true
  annotations: {}
  tolerations:
    - operator: "Exists"
      effect: "NoSchedule"
    - operator: "Exists"
      effect: "NoExecute"
  extraEnv:
    - name: ENV_VAR1
      value: "var1"
    - name: ENV_VAR2
      value: "var2"
  resources:
    limits:
      memory: 400M
    requests:
      cpu: 100m
      memory: 180M
  config:
    scheme: "http"

controlPlane:
  enabled: true
  config:
    etcd:
      enabled: true
      autodiscover:
        - selector: "tier=control-plane,component=etcd"
          namespace: kube-system
          matchNode: true
          endpoints:
            - url: https://localhost:4001
              insecureSkipVerify: true
              auth:
                type: bearer
            - url: http://localhost:2381
    scheduler:
      enabled: true
      autodiscover:
        - selector: "tier=control-plane,component=kube-scheduler"
          namespace: kube-system
          matchNode: true
          endpoints:
            - url: https://localhost:10259
              insecureSkipVerify: true
              auth:
                type: bearer
    controllerManager:
      enabled: true
      autodiscover:
        - selector: "tier=control-plane,component=kube-controller-manager"
          namespace: kube-system
          matchNode: true
          endpoints:
            - url: https://localhost:10257
              insecureSkipVerify: true
              auth:
                type: bearer
                mtls:
                  secretName: secret-name
                  secretNamespace: default
    apiServer:
      enabled: true
      autodiscover:
        - selector: "tier=control-plane,component=kube-apiserver"
          namespace: kube-system
          matchNode: true
          endpoints:
            - url: https://localhost:8443
              insecureSkipVerify: true
              auth:
                type: bearer
                mtls:
                  secretName: secret-name4
            - url: http://localhost:8080
