---
{{- $region := include "newrelic.common.region" . }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: nr-ebpf-agent
  labels:
    app: nr-ebpf-agent
    component: agent
    {{- include "newrelic.common.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "newrelic.common.labels.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: nr-ebpf-agent
        component: agent
        {{- include "newrelic.common.labels.podLabels" . | nindent 8 }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/secrets.yaml") . | sha256sum }}
        {{- with .Values.ebpfAgent.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with include "nrEbpfAgent.ebpfAgent.securityContext.pod" . }}
      securityContext:
        {{- . | nindent 8 }}
      {{- end }}
      {{- with include "newrelic.common.priorityClassName" . }}
      priorityClassName: {{ . }}
      {{- end }}
      {{- with include "newrelic.common.images.renderPullSecrets" ( dict "pullSecrets" (list .Values.pullSecrets) "context" .) }}
      imagePullSecrets:
        {{- . | nindent 8 }}
      {{- end }}
      {{- with include "newrelic.common.dnsConfig" . }}
      dnsConfig:
        {{- . | nindent 8 }}
      {{- end }}
      initContainers:
      - name: kernel-header-installer
        image: docker.io/newrelic/newrelic-ebpf-agent:agent-base-image-latest
        imagePullPolicy: IfNotPresent
        command: ["/scripts/install-headers.sh"]
        securityContext:
          privileged: true
        volumeMounts:
        - name: installer-script
          mountPath: /scripts
          readOnly: true
        - name: host-root-volume
          mountPath: /host
        - name: kernel-headers-volume
          mountPath: /kernel-headers
        - name: host-containerd-socket
          mountPath: /run/host-containerd
          readOnly: true

      containers:
      - name: nr-ebpf-agent
        image: {{ .Values.ebpfAgent.image.repository }}:{{ include "nr-ebpf-agent.imageTag" . }}
        imagePullPolicy: {{ .Values.ebpfAgent.image.pullPolicy }}
        resources: {{ .Values.ebpfAgent.resources | toYaml | nindent 10 }}
        env:
          - name: VIZIER_PORT
            value: "{{ .Values.ebpfAgent.vizierPort | default "12345" }}"
          - name: PL_HOST_PATH
            value: "/host"
          - name: PL_STIRLING_SOURCES
            value: "{{ .Values.stirlingSources | default "socket_tracer,tcp_stats" }}"
          {{- include "generateTracingEnvVars" . | indent 10 }}
          - name: KUBERNETES_CLUSTER_DOMAIN
            value: "cluster.local"
          - name: NEW_RELIC_LOG_LEVEL
            value: "{{ .Values.logLevel }}"
          - name: NEW_RELIC_LOG_FILE_PATH
            value: "{{ .Values.logFilePath }}"
          - name: NEW_RELIC_LICENSE_KEY
            valueFrom:
              secretKeyRef:
                {{- if (include "newrelic.common.license._licenseKey" .) }}
                key: NEW_RELIC_LICENSE_KEY
                name: nr-ebpf-agent-secrets
                {{- else }}
                key: {{ include "newrelic.common.license._customSecretKey" . }}
                name: {{ include "newrelic.common.license._customSecretName" . }}
                {{- end }}
          - name: TABLE_STORE_DATA_LIMIT_MB
            value: "{{ .Values.tableStoreDataLimitMB }}"
          - name: TLS_ENABLED
          {{- if (hasKey .Values "tls") }}
          {{- if eq .Values.tls.enabled true }}
            value: "true"
          {{- else }}
            value: "false"
          {{- end }}
          {{- if eq .Values.tls.enabled true }}
          - name: TLS_CERT_PATH
            value: "{{ .Values.tls.certPath }}/"
          {{- end }}
          {{- end }}

          {{- if .Values.ebpfAgent.downloadedPackagedHeadersPath }}
          - name: DOWNLOADED_PACKAGED_HEADERS_PATH
            value: "{{ .Values.ebpfAgent.downloadedPackagedHeadersPath }}"
          {{- end }}

          {{- if .Values.ebpfAgent.distroKernelHeadersPath }}
          - name: DISTRO_KERNEL_HEADERS_PATH
            value: "{{ .Values.ebpfAgent.distroKernelHeadersPath }}"
          {{- end }}
          - name: DEPLOYMENT_NAME
            value: {{ if .Values.global }}{{ .Values.global.cluster | default .Values.cluster }}{{ else }}{{ .Values.cluster }}{{ end }}
          - name: HOST_IP
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
          - name: OTLP_ENDPOINT
        {{- if eq $region "Staging" }}
            value: "staging-otlp.nr-data.net:443"
        {{- else if eq $region "EU" }}
            value: "otlp.eu01.nr-data.net:443"
        {{- else }}
            value: "otlp.nr-data.net:443"
        {{- end }}
          {{- include "generateClientScriptEnvVars" . | nindent 10 }}
          {{- if (hasKey .Values.protocols.http "spans") }}
          {{- if .Values.protocols.http.spans.samplingErrorRate}}
          {{- include "validate.samplingErrorRate" (dict "protocol" "http" "errorRate" .Values.protocols.http.spans.samplingErrorRate) }}
          - name: PROTOCOLS_HTTP_SPANS_SAMPLING_ERROR_RATE
            value: "{{ .Values.protocols.http.spans.samplingErrorRate | default "0"}}"
          {{- end }}
          {{- end }}
          - name: NAMESPACE
            value: {{ .Release.Namespace }}
          - name: AGENT_SERVICE_NAME
            value: {{ include "nr-ebpf-agent.service.name" . }}
          - name: APM_DATA_REPORTING
            value: "{{ if hasKey .Values "apmDataReporting" }}{{ .Values.apmDataReporting }}{{ else }}true{{ end }}"
          - name: TCP_STATS_REPORTING
            value: "{{ if hasKey .Values "tcpStatsReporting" }}{{ .Values.tcpStatsReporting }}{{ else }}true{{ end }}"
          - name: DROP_DATA_NEW_RELIC
            value: "{{ if hasKey .Values "dropDataNewRelic" }}{{ .Values.dropDataNewRelic }}{{ else }}true{{ end }}"
          - name: DROP_APM_ENABLED_PODS
            value: "{{ if hasKey .Values "dropAPMEnabledPods" }}{{ .Values.dropAPMEnabledPods }}{{ else }}false{{ end }}"
          - name: DROP_DATA_FOR_NAMESPACES
            value: "{{ .Values.dropDataForNamespaces | join "," }}"
          - name: DROP_SERVICE_NAME_REGEX
            value: {{ .Values.dropDataServiceNameRegex }}
          - name: ALLOW_SERVICE_NAME_REGEX
            value: {{ .Values.allowServiceNameRegex }}
        securityContext:
          privileged: true
        volumeMounts:
          - name: host-root-volume
            mountPath: /host
            readOnly: true
          - name: sys-volume
            mountPath: /sys
            readOnly: true
          - name: kernel-headers-volume
            mountPath: /kernel-headers
            readOnly: true
          {{- if (hasKey .Values "tls") }}
          {{- if eq .Values.tls.enabled true }}
          - name: cert
            mountPath: "{{ .Values.tls.certPath }}/"
            readOnly: true
          {{- end }}
          {{- end }}
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      hostPID: true
      restartPolicy: Always
      serviceAccountName: {{ include "nr-ebpf-agent.service.name" . }}
      volumes:
      - name: installer-script
        configMap:
          name: {{ include "nr-ebpf-agent.fullname" . }}-installer-script
          defaultMode: 0755
      - name: host-root-volume
        hostPath:
          path: /
          type: Directory
      - name: sys-volume
        hostPath:
          path: /sys
          type: Directory
      - name: kernel-headers-volume
        emptyDir: {}
      - name: host-containerd-socket
        hostPath:
          path: /run/containerd
          type: DirectoryOrCreate
      {{- if (hasKey .Values "tls") }}
      {{- if eq .Values.tls.enabled true }}
      - name: cert
        secret:
          defaultMode: 420
          secretName: {{ include "nr-ebpf-agent-certificates.certificateSecret.name" . }}
      {{- end }}
      {{- end }}
      {{- with include "newrelic.common.nodeSelector" . }}
      nodeSelector:
        {{- . | nindent 8 -}}
      {{- end }}
      {{- with include "nrEbpfAgent.ebpfAgent.affinity" . }}
      affinity:
        {{- . | nindent 8 }}
      {{- end }}
      {{- with include "nrEbpfAgent.ebpfAgent.tolerations" . }}
      tolerations:
        {{- . | nindent 8 }}
      {{- end }}
