apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "nr-ebpf-agent.fullname" . }}-collector
  labels:
{{- include "newrelic.common.labels" . | nindent 4 }}
  annotations:
{{- toYaml .Values.otelCollector.collector.serviceAccount.annotations | nindent 4 }}
