{{- if include "newrelic.common.serviceAccount.create" . }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "nr-ebpf-agent.collector.name" . }}
  labels:
    {{- include "newrelic.common.labels" . | nindent 4 }}
  {{- $globalAnnotations := include "newrelic.common.serviceAccount.annotations" . | fromYaml }}
  {{- $localAnnotations := .Values.otelCollector.collector.serviceAccount.annotations | default dict }}
  {{- if or $globalAnnotations $localAnnotations }}
  annotations:
    {{- with $globalAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- with $localAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
{{- end }}