---
{{- $licenseKey := include "newrelic.common.license._licenseKey" . }}
{{- $customSecretLicenseKey := include "newrelic.common.license._customSecretKey" . }}
apiVersion: v1
kind: Secret
metadata:
  name: nr-ebpf-agent-secrets
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  {{- if .Values.licenseKey}}
  NEW_RELIC_LICENSE_KEY: {{ .Values.licenseKey | b64enc }}
  {{- else if $licenseKey}}
  NEW_RELIC_LICENSE_KEY: {{ $licenseKey | b64enc }}
  {{ else if $customSecretLicenseKey}}
  NEW_RELIC_LICENSE_KEY: ""
  {{- else }}
  NEW_RELIC_LICENSE_KEY: {{ required "secrets.licenseKey is required" .Values.licenseKey | b64enc | quote }}
  {{- end }}
