{{- if .Values.config.superAgent.create -}}
---
kind: ConfigMap
metadata:
  name: local-data-super-agent
  namespace: {{ .Release.Namespace }}
  labels:
{{- include "newrelic.common.labels" . | nindent 4 }}
apiVersion: v1
data:
  local_config: |
{{- include "newrelic-super-agent.config.content" . | nindent 4 }}
{{- end }}
