name: Lint and Test Charts

on: pull_request

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: azure/setup-helm@v1
      - uses: actions/setup-python@v2

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.1.0

      - name: Lint charts
        run: ct lint --config ct.yaml

      - uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          check_hidden: true
          skip: ./.git,./.github/actions/chart-version-bumper/node_modules
          ignore_words_list: enver

      - name: Check for changed charts
        id: list-changed
        run: |
          changed=$(ct list-changed)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi
      - name: Create kind cluster
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@v1.2.0
      - name: Create test ns
        if: steps.list-changed.outputs.changed == 'true'
        run: kubectl create ns ct
      - name: Test install charts
        run: ct install --namespace ct --config ct.yaml

      - name: Test upgrade charts
        run: ct install --namespace ct --config ct.yaml --upgrade
