name: Lint and Test Charts

on: pull_request

jobs:
  codespell:
    name: Check spelling
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          check_hidden: true
          skip: ./.git,./.github/actions/chart-version-bumper/node_modules
          ignore_words_list: enver

  lint-test:
    name: Lint and test charts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: azure/setup-helm@v1
      - uses: actions/setup-python@v2

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.1.0

      - name: Set up helm-unittest
        run: |
          helm plugin install https://github.com/quintush/helm-unittest

      - name: Lint charts
        run: |
          for realm in library charts; do
            ct lint --config .github/ct-${realm}.yaml
          done

      - name: Run unit tests
        run: |
          for realm in library charts; do
            for chart in $(ct list-changed --config .github/ct-${realm}.yaml); do
              if [ -d "$chart/tests/" ]; then
                helm unittest $chart -3
              fi
            done
          done

      - name: Check for changed installable charts
        id: list-changed
        run: |
          changed=$(ct list-changed  --config .github/ct-charts.yaml )
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Create kind cluster
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@v1.2.0
      - name: Create test ns
        if: steps.list-changed.outputs.changed == 'true'
        run: kubectl create ns ct

      - name: Test install charts
        run: ct install --namespace ct --config .github/ct-charts.yaml
      - name: Test upgrade charts
        run: ct install --namespace ct --config .github/ct-charts.yaml --upgrade
