name: Release Charts

on:
  push:
branches:
  - master

jobs:
  release:
runs-on: ubuntu-latest
steps:
  - name: Checkout
uses: actions/checkout@v2

  - name: Fetch history
run: git fetch --prune --unshallow

  - name: Add stable repository
run: helm repo add stable https://charts.helm.sh/stable

  - name: Configure Git
run: |
  git config user.name "$GITHUB_ACTOR"
  git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

  - name: Install Helm
uses: azure/setup-helm@v1

  - name: Run chart-releaser
uses: helm/chart-releaser-action@v1.2.0
env:
  CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
